<div class="chart_container">
  <div class="chart_parent" id="chart_parent">
    <div id="chart" class="chart" data-quantile="<%= Jason.encode!(@quantile_data) %>" phx-hook="ChartData" phx-update="ignore"></div>
  </div>
</div>
